:root {
  --fontTitles: 'Uchen';
  --fontBody: 'IBM Plex Mono';
  --gray: #575757;
  --lightBlack: #1f1f1f;
  --white: #e9e8e4;
  --textColor: var(--white);
  --textColorInverted: var(--white);
  --background: var(--lightBlack);
  --backgroundInverted: var(--green);
  --background2: var(--gray);
}
